<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/rpl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rpl"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTSAndroid"
        tools:targetApi="31">
        <activity
            android:name=".Notifikasi"
            android:exported="false">

        </activity>
        <activity
            android:name=".MatkulSemester"
            android:exported="false">

        </activity>
        <activity
            android:name=".ProfilDosen"
            android:exported="false">

        </activity>
        <activity
            android:name=".InformasiProfil"
            android:exported="false">

        </activity>
        <activity
            android:name=".ProspekKerja"
            android:exported="false">

        </activity>
        <activity
            android:name=".Fasilitas2"
            android:exported="false">

        </activity>
        <activity
            android:name=".Homepage"
            android:exported="false">

        </activity>
        <activity
            android:name=".Register"
            android:exported="false">

        </activity>
        <activity
            android:name=".SplashArt"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false">

        </activity>
        <activity
            android:name=".LandingPageTRPL"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.UTSAndroid" />
    </application>

</manifest>